* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 14pt;
    background-color: #000;
    color: #eee;
}

main {
    max-width: 1200px;
    margin: 1em auto;
    padding: 1em;
    background: #111;
}

h1 {
    margin: 0 0 1em;
}

a {
    color: #0af;
}

input {
    background-color: #222;
    color: inherit;
    border: 1px solid #777;
    padding: 2px 5px;
}
input[type="url"] {
    width: 450px;
}
