* {
	box-sizing: border-box;
}

:root {
	height: 100%;
}

body {
	min-height: 98vh;
	font-family: sans-serif;
	font-size: 12pt;
	background: center / cover no-repeat url(https://press.simulogics.games/prosperousuniverse/images/20210218_1.png);
	background-color: #000;
	color: #eee;
	display: grid;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 1em;
	background: #000d;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
}

h1 {
	margin: 0 0 1em;
}

a {
	color: #0af;
}

.plan-fill {
	margin-top: 2em;
	font-size: 12pt;
	line-height: 1.5;
}

input {
	background-color: #222;
	color: inherit;
	border: 1px solid #777;
	padding: 2px 5px;
}
input[type="url"] {
	width: 450px;
}
